version: "3.9"

services:

  database_ignite:
    image: postgres
    container_name: database_ignite
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=rentx
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/data/postgres
    restart: always

  app:
    build: .
    container_name: rentx
    ports:
      - 3333:3333
    volumes:
      - .:/usr/app
    links:
      - database_ignite
    depends_on: 
      - database_ignite

volumes:
  pgdata:
    driver: local